<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>User Form</title>
</head>
<body>
<form th:action="@{/user}" th:object="${user}" th:method="post">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Age</td>
            <td><input type="number" th:field="*{age}"/></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input type="text" th:field="*{address}"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Send"/></td>
        </tr>
    </table>
</form>
</body>
</html>